<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="PrimaryOutput" Guid="*">
				<!-- Add your primary output DLLs/EXEs here -->
				<File Id="TCLauncherExe" 
					  Source="$(var.TCLauncher.App.TargetPath)" 
					  KeyPath="yes">
					<Shortcut Id="StartMenuShortcut"
							  Directory="ApplicationProgramsFolder"
							  Name="TCLauncher"
							  Description="!(loc.ProductDescription)"
							  Icon="ProductIcon"
							  IconIndex="0"
							  Advertise="yes"
							  WorkingDirectory="INSTALLFOLDER" />
				</File>
				
				<!-- Add other primary output files -->
				<!-- Example: -->
				<!-- <File Source="$(var.TCLauncher.App.TargetDir)SomeLibrary.dll" /> -->
			</Component>
			
			<Component Id="IconFiles" Guid="*">
				<File Id="LogoIco" Source="$(var.ProjectDir)logo.ico" KeyPath="yes" />
				<File Id="TclInstanceIcon" Source="$(var.ProjectDir)tcl_instance_icon" />
			</Component>
			
			<Component Id="RegistryEntries" Guid="*">
				<RegistryKey Root="HKLM" Key="Software\T-Craft\TCLauncher" ForceCreateOnInstall="yes">
					<RegistryValue Type="string" Name="InstallLocation" Value="[INSTALLFOLDER]" KeyPath="yes"/>
					<RegistryValue Type="string" Name="Version" Value="[ProductVersion]" />
				</RegistryKey>
			</Component>
		</ComponentGroup>
	</Fragment>
	
	<Fragment>
		<Icon Id="ProductIcon" SourceFile="$(var.ProjectDir)logo.ico" />
		<Property Id="ARPPRODUCTICON" Value="ProductIcon" />
		<Property Id="ARPURLINFOABOUT" Value="https://tcraft.link/tclauncher" />
	</Fragment>
</Wix>
