<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="ContentFiles" Directory="INSTALLFOLDER">
            <!-- Release x64 Files -->
            <Component Id="ContentReleasex64" Guid="*" Win64="yes">
                <Condition><![CDATA[VersionNT64]]></Condition>
                <!-- Add files from TCLauncher.App Release x64 -->
                <!-- Example: -->
                <!-- <File Source="$(var.TCLauncher.App.TargetDir)Content\x64\somefile.dat" /> -->
                <File Id="PlaceholderX64" Source="$(var.TCLauncher.App.TargetDir)placeholder_x64.txt" KeyPath="yes" />
            </Component>

            <!-- Release ARM64 Files -->
            <Component Id="ContentReleaseARM64" Guid="*" Win64="yes">
                <Condition><![CDATA[VersionNT64 AND PROCESSOR_ARCHITECTURE_ARM64]]></Condition>
                <!-- Add files from TCLauncher.App Release ARM64 -->
                <File Id="PlaceholderARM64" Source="$(var.TCLauncher.App.TargetDir)placeholder_arm64.txt" KeyPath="yes" />
            </Component>

            <!-- Add more content file components as needed -->
        </ComponentGroup>
    </Fragment>
</Wix>