<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <CustomAction Id="LaunchApplication"
                      FileKey="TCLauncherExe"
                      ExeCommand="--installer-part-welcome"
                      Execute="immediate"
                      Impersonate="yes"
                      Return="asyncNoWait" />

        <CustomAction Id="SetLaunchCondition"
                      Property="WixShellExecTarget"
                      Value="[#TCLauncherExe]" />

        <Property Id="LAUNCHAPPONEXIT" Value="1" />

        <InstallExecuteSequence>
            <Custom Action="SetLaunchCondition" After="InstallFiles">
                <![CDATA[NOT Installed AND LAUNCHAPPONEXIT = 1]]>
            </Custom>
            <Custom Action="LaunchApplication" After="InstallFinalize">
                <![CDATA[NOT Installed AND LAUNCHAPPONEXIT = 1]]>
            </Custom>
        </InstallExecuteSequence>
    </Fragment>

    <Fragment>
        <CustomActionRef Id="LaunchApplicationAfterInstall" />
    </Fragment>
</Wix>